<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('./partials/head'); %>

</head>
<body class="bg-light">
  <%- include('./partials/header'); %>
 
    <main role="main" class="container bg-white rounded shadow-sm mt-3 p-3 w-75">
      <h6 class="border-bottom border-gray pb-2 mb-0">
        Willkommen, <%= user.username %>!
      </h6>
      
      <div class="media text-muted pt-3"></div>
      
      <h5>
        <p>Spielsitzungen</p>
      </h5>

      <form action="/overviewGame" method="POST">
        <table id="ModulesTable" class="table table-hover">
          
          <thead class="thead-dark">
          <% if(game.length == 0){ %>
            <p>Noch kein Spiel vorhanden</p>
          <% }
             else {%> 
              <tr>
                <th>Modul</th>
                <th>Modus</th>
                <th>Partner</th>
                <th>Runde</th>
                <th>Am Zug</th>
                <th>Zeit</th>
                <th></th>
              </tr>
          </thead>
            
          <% {game.forEach( function(game) {

            var moduleName;
            for (var i = 0; i < moduleList.length; i+=2) {
              if (moduleList[i].toHexString() == game.module[0].toHexString()){
                moduleName = moduleList[i+1];
              }
            } 
  
            var partner = game.users[0];
            if (game.users[0] == user._id) {
              partner = game.users[1]
            } 
            
            var partnerName
            if (game.users.length == 1) {
                partnerName = "-";
            }
            else {
              for (var i = 0; i < userList.length; i+=2) {
                if (userList[i].toHexString() == partner.toHexString()){
                  partnerName = userList[i+1];
                }
              }
            } %>
            <tbody>
              <tr>
                <td scope="row"><%= moduleName %></td>
                <td scope="row"><%= game.modus %></td>
                <td scope="row"><%= partnerName %></td>
                <td scope="row"><%= game.round %></td>
                <td scope="row">Am Zug</td>
                <td scope="row">Zeit</td>
                <td><a class="btn btn-secondary btn-sm" href="/overviewGame/<%= game._id %>">Fortsetzen</a></td>
              </tr>
            </tbody>
          <% })};} %>

        </table>
      </form>

      <!-- Button für neues Spiel wird angezeigt, solange nicht die maximale Anzahl an 5 Spielen erreicht ist-->
      <% if (game.length < 5){ %>
      <div class="d-flex align-items-center justify-content-left pb-4">
        <a href="/modeselect"><button class="btn btn-dark btn-m btn-block">Neues Spiel</button></a>
      </div>
      <% }; %>
    </main>

</body>
</html>