<!DOCTYPE html>
<html>
<head>
  <title>IUQuiz</title>
  <%- include('./partials/head'); %>
  <style>
    .correct-answer {
      background-color: #4bac50 !important;
    }
    .false-answer {
      background-color: #d41717 !important;
    }
  </style>
</head>
<body class="bg-light">
    <%- include('./partials/header'); %>
   
      <main role="main" class="container bg-white rounded shadow-sm mt-3 p-3 w-75">
        <div class="container">
            <h1>IU Quiz</h1>
            <%
            if(game.modus == "Duell") {
            %>
              <p>Duellmodus</p>
            <%
            } 
            else {
            %>
              <p>Kollaborativer Modus</p>
            <%
            }
            %>
            <form action="/answers/<%= game._id %>" method="POST">
              <% let questions = []; var commentRound = 1; %>
              <% for (let i = game.questionCount; i < game.questionCount + 2; i++) { %>
                <% questions[i] = {
                    question: game.questions[i].question,
                    rightAnswer: game.questions[i].rightAnswer
                  }; %>
                <div class="card mb-4">
                  <div class="card-header">Question <%= i + 1 %>: <%= game.questions[i].question %></div>
                  <div class="card-body">
                    <% let options = [game.questions[i].rightAnswer, game.questions[i].answer2, game.questions[i].answer3, game.questions[i].answer4]; %>
                    <% options = options.sort(function() { return 0.5 - Math.random() }); %>
                    <% for (let j = 0; j < options.length; j++) { %>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="q<%= i + 1 %>" id="q<%= i + 1 %>-option-<%= j + 1 %>" value="<%= options[j] %>">
                        <label class="form-check-label" for="q<%= i + 1 %>-option-<%= j + 1 %>">
                          <%= String.fromCharCode(97 + j) + ') ' + options[j] %>
                        </label>
                      </div>
                    <% } %>
                  </div>
                  <%
                  if(game.modus == "Kollaborativ") {
                    var key = "commentQuestion" + commentRound.toString();
                  %>
                    <div class="input-group">
                      <span class="input-group-text">Kommentar</span>
                      <textarea class="form-control" name="comment" required><%= game.comments[game.round - 1][key] %></textarea>
                    </div>
                  <% 
                    commentRound++;
                  } 
                  %>
                </div>
                <div class="alert alert-secondary" role="alert" style ="display: none">
                  Erklärung: <%= game.questions[i].explanation %>
                </div>
              <% } %>
                  
                <div class="container d-flex justify-content-start">
                  <button class="btn btn-primary me-2" type="button" id="submitButton" onclick="submitHandler('<%- JSON.stringify(game) %>, <%- JSON.stringify(user) %>')">Antworten</button>
                  <button class="btn btn-primary" type="submit" id="nextButton">Weiter</button>
                </div>
              
              
            </form>
        </div>
      </main>
      <script>
        // Submit Button ausblenden
          function disableButton() {
            const submitButton = document.getElementById('submitButton');
            submitButton.disabled = true;
            submitButton.classList.add('disabled');
          }

        // Weiter Button einblenden    
          function showButton() {
            const nextButton = document.getElementById('nextButton');
            nextButton.style.display = 'block';
          }

        // Weiter Button ausblenden
          hideButton();
          function hideButton(){
            const nextButton = document.getElementById('nextButton');
            nextButton.style.display = 'none';
          }

          // Prüfen, ob Antwort richig oder falsch
          function submitHandler(game, user) {
            const cards = document.querySelectorAll(".card");
            let currentRound = game.questionCount;
            cards.forEach(function (card, i) {
              let selectedOption = card.querySelector('input[type=radio]:checked');
              let correctAnswer = game.questions[currentRound].rightAnswer;
              if (selectedOption && selectedOption.value === correctAnswer) {
                // ausgewähle richtige Antwort grün markieren
                selectedOption.parentElement.classList.add('correct-answer');
                selectedOption.value = true;
              } else {
                selectedOption.parentElement.classList.add('false-answer');
                selectedOption.value = false;
              }
              currentRound++;
            });
          
          }

          //Highlight correct Answer
          function highlightCorrectAnswer(game) {
            const options = document.querySelectorAll('input[type=radio]');
            options.forEach(function (option) {
              game.questions.forEach(function(question) {
                if(option.value === question.rightAnswer) {
                option.parentElement.classList.add('correct-answer');
              }
              })
            })
          }

        // Kommentar Inputs deaktivieren
        function disableCommentInput() {
            const commentInputs = document.getElementsByName('comment');
            console.log(commentInputs);
            commentInputs.forEach(function (input) {
              input.readOnly = true;
            })
          }

        // Event-Listener für den Submit-Button
        document.getElementById('submitButton').addEventListener('click', function() {
          // Erklärung zur Frage anzeigen
          const elements = document.querySelectorAll(".alert.alert-secondary");
          elements.forEach(element => {
            element.style.display = 'block';
          });
          
        // Aufrufen der Funktion submitHandler
        submitHandler(<%- JSON.stringify(game) %>, <%- JSON.stringify(user) %>);

        //Richtige Antworten grün markieren
        highlightCorrectAnswer(<%- JSON.stringify(game) %>);

        // Aufrufen der Funktionen disableButton und showButton
          disableButton();
          disableCommentInput();
          showButton();
        });
      </script>
      
</body>
</html>
