<!DOCTYPE html>
<html>
<head>
  <title>IUQuiz</title>
  <%- include('./partials/head'); %>
  <style>
    .correct-answer {
      background-color: #4bac50 !important;
    }
    .false-answer {
      background-color: #d41717 !important;
    }
  </style>
</head>
<body class="bg-light">
    <%- include('./partials/header'); %>
   
      <main role="main" class="container bg-white rounded shadow-sm mt-3 p-3 w-75">
        <div class="container">
            <h1>IU Quiz</h1>
            <p>Duellmodus</p>
            <form action="/answers/<%= game._id %>" method="POST">
              <% let questions = []; %>
              <% for (let i = game.round; i < game.round + 2; i++) { %>
                <% questions[i] = {
                    question: game.questions[i].question,
                    rightAnswer: game.questions[i].rightAnswer
                  }; %>
                <div class="card mb-4">
                  <div class="card-header">Question <%= i + 1 %>: <%= game.questions[i].question %></div>
                  <div class="card-body">
                    <% let options = [game.questions[i].rightAnswer, game.questions[i].answer2, game.questions[i].answer3, game.questions[i].answer4]; %>
                    <% options = options.sort(function() { return 0.5 - Math.random() }); %>
                    <% for (let j = 0; j < options.length; j++) { %>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="q<%= i + 1 %>" id="q<%= i + 1 %>-option-<%= j + 1 %>" value="<%= options[j] %>">
                        <label class="form-check-label" for="q<%= i + 1 %>-option-<%= j + 1 %>">
                          <%= String.fromCharCode(97 + j) + ') ' + options[j] %>
                        </label>
                      </div>
                    <% } %>
                  </div>
                  
                </div>
                <div class="alert alert-secondary" role="alert" style ="display: none">
                  Erklärung: <%= game.questions[i].explanation %>
                </div>
              <% } %>
                  

              <button class="btn btn-primary" type="button" id="submitButton"
               onclick="submitHandler('<%- JSON.stringify(game) %>, <%- JSON.stringify(user) %>')">Submit</button>

              <button class="btn btn-primary" type="submit" id="nextButton">Weiter</button>
            </form>
        </div>
      </main>
      <script>
        // Submit Button ausblenden
          function disableButton() {
            const submitButton = document.getElementById('submitButton');
            submitButton.disabled = true;
            submitButton.classList.add('disabled');
             }

        // Weiter Button einblenden    
          function showButton() {
            const nextButton = document.getElementById('nextButton');
            nextButton.style.display = 'block';
             }

        // Weiter Button ausblenden
          hideButton();
          function hideButton(){
            const nextButton = document.getElementById('nextButton');
            nextButton.style.display = 'none';
          }

          // Prüfen, ob Antwort richig oder falsch
          function submitHandler(game, user) {
            const cards = document.querySelectorAll(".card");
            let currentRound = game.round;
            cards.forEach(function (card, i) {
              let selectedOption = card.querySelector('input[type=radio]:checked');
              let correctAnswer = game.questions[currentRound].rightAnswer;
              if (selectedOption && selectedOption.value === correctAnswer) {
                // richtige Antwort grün markieren
                selectedOption.parentElement.classList.add('correct-answer');
                selectedOption.value = true;
              } else {
                selectedOption.parentElement.classList.add('false-answer');
                selectedOption.value = false;
              }
              currentRound++;
              // Punkte vergeben
              pointsHandler(game, user);
            });
          
          }
        // funktioniert noch nicht
          function pointsHandler(game, user) {
            const cards = document.querySelectorAll(".card");
            let currentRound = game.round;
            cards.forEach(function (card, i) {
              let selectedOption = card.querySelector('input[type=radio]:checked');
              let correctAnswer = game.questions[currentRound].rightAnswer;
              console.log(selectedOption.value);
              if (selectedOption && selectedOption.value === correctAnswer) {
                // dem User 3 Punkte zuweisen
                console.log("Abfrage richtig")
                if (game.users[0] === user._id) {
                  game.points1 += 3;
                  console.log("3 Punkte")
                } 
                console.log("0 Punkte")
              }
              currentRound++;
              // keine Punkte vergeben
            });
          }

        // Event-Listener für den Submit-Button
        document.getElementById('submitButton').addEventListener('click', function() {
          // Erklärung zur Frage anzeigen
          const elements = document.querySelectorAll(".alert.alert-secondary");
          elements.forEach(element => {
            element.style.display = 'block';
          });
          
          // Aufrufen der Funktion submitHandler
        submitHandler(<%- JSON.stringify(game) %>, <%- JSON.stringify(user) %>);


        // Aufrufen der Funktionen disableButton und showButton
          disableButton();
          showButton();
        });
      </script>
      
</body>
</html>
