<!-- Anzeige der Spielübersicht -->
<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="bg-light">
  <%- include('./partials/header'); %>
  <main role="main" class="container bg-white rounded shadow-sm mt-3 p-3 w-75">
    <h4 class="border-bottom border-gray pb-2 mb-0">
      <p>Spielübersicht</p>
    </h4>
    <div class="media text-muted pt-3">
    </div>
    <p>Sie befinden sich in einem <span class="badge bg-secondary"><%= game.modus %></span> mit Fragen aus dem Modul <span class="badge bg-secondary"><%= moduleName %></span></p>
    <div class="media text-muted pt-3">
    </div>
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-8"> 
            <a href="/dashboard" class="btn btn-secondary" role="button">zurück</a> 
            <a href="/game/<%= game._id %>" class="btn btn-dark" id="nextRound" role="button">Nächste Runde spielen</a>
          </div>
          <div class="col-md-4 d-flex justify-content-end"> 
            <a href="/closeGame/<%= game._id %>" class="btn btn-danger" role="button">
              <i class="fas fa-times-circle mr-1"></i> Spiel abbrechen
            </a>
          </div>
        </div>
      </div>
      <div class="media text-muted pt-5">
      </div>
      
      
    <h5 class="border-bottom border-gray pb-2 mb-2">
      <!-- Hier müssen noch die Variablen für die jeweiligen Punkte eingefügt werden, bislang nicht definiert -->
      <p>Spielstand:</p>
    </h5>
      <div class="container">
        <div class="row ">
          <div class="col">
          </div>
          <div class="col text-center">
            <h4><span class="badge bg-primary"><%= userNames[0].username %></span></h4>
          </div>
          <div class="col text-center">  
            <h4>
              <% if(userNames.length > 1) { %>
                <span class="badge bg-primary"><%= userNames[1].username %></span>
              <% } %>
            </h4>
          </div>
        </div>  
        <div class="row border-bottom border-gray pb-2 mb-2">
          <div class="col">
          </div>
          <div class="col text-center">
            <h5><span class="badge bg-primary"><%= game.points1 %></span></h5>
          </div>
          <div class="col text-center">
            <h5><span class="badge bg-primary"><%= game.points2 %></span></h5>
          </div>
        </div>

        <%
        for(round = 0; round < 7; round++) {
        %>

        <div class="row border-bottom border-gray pb-2 mb-2">
          <div class="col">
            <h6>Runde <%= round+1 %>:</h6>
          </div>
          <div class="col text-center">
            <!-- Hier müssen noch die Variablen für die jeweiligen Runden eingefügt werden, bislang nicht definiert -->
            <% if(answers1[round].answer1 == true){ %>
            <button type="button" class="btn btn-success btn-sm"></button>
            <% } else if(answers1[round].answer1 == false){ %>
            <button type="button" class="btn btn-danger btn-sm"></button>
            <% } else { %>
            <button type="button" class="btn btn-secondary btn-sm"></button>
            <% } %>
            <% if(answers1[round].answer2 == true){ %>
            <button type="button" class="btn btn-success btn-sm"></button>
            <% } else if(answers1[round].answer2 == false){ %>
            <button type="button" class="btn btn-danger btn-sm"></button>
            <% } else { %>
            <button type="button" class="btn btn-secondary btn-sm"></button>
            <% } %>
          </div>
          <div class="col text-center">
            <% if(answers2[round].answer1 == true){ %>
            <button type="button" class="btn btn-success btn-sm"></button>
            <% } else if(answers2[round].answer1 == false){ %>
            <button type="button" class="btn btn-danger btn-sm"></button>
            <% } else { %>
            <button type="button" class="btn btn-secondary btn-sm"></button>
            <% } %>
            <% if(answers2[round].answer2 == true){ %>
            <button type="button" class="btn btn-success btn-sm"></button>
            <% } else if(answers2[round].answer2 == false){ %>
            <button type="button" class="btn btn-danger btn-sm"></button>
            <% } else { %>
            <button type="button" class="btn btn-secondary btn-sm"></button>
            <% } %>
          </div>
        </div>

        <%
        }
        %>

      </div>
      <div class="media text-muted pt-3">
      </div>
        <a href="/closeGame/<%= game._id %>" class="btn btn-dark" id="closeGame" role="button">Spiel beenden</a>    
      <div class="media text-muted pt-5">
      </div>   
  </main>
  <script>
    const gameData = <%- JSON.stringify(game) %>;
    const userData = <%- JSON.stringify(user) %>;

    if(gameData.users[0] == userData._id) {
      if(gameData.answers1.length > gameData.answers2.length)
        disableButton();
      }else {

    if(gameData.users[1] == userData._id) {
      if(gameData.answers2.length > gameData.answers1.length)
        disableButton();
      } }

      if(gameData.answers2.length == 14 && gameData.answers1.length == 14){
        disableButton();
        showCloseGameButton();
      }else {hideCloseGameButton();}

    // "Nächste Runde spielen" Button ausblenden
      function disableButton() {
        const nextRoundButton = document.getElementById('nextRound');
        nextRoundButton.disabled = true;
        nextRoundButton.classList.add('disabled');
        }

    // "Spiel beenden" Button einblenden
      function hideCloseGameButton(){
      const closeGameButton = document.getElementById('closeGame');
      closeGameButton.style.display = 'none';
      }

      function showCloseGameButton() {
        const closeGameButton = document.getElementById('closeGame');
        closeGameButton.disabled = false;
        closeGameButton.style.display = 'block';
      }


  </script>
</body>
</html>