<!DOCTYPE html>
<html lang="de">
<head>
  <%- include('./partials/head'); %>

</head>
<body class="bg-light">
  <%- include('./partials/header'); %>
  <%- include('./partials/modalNoAdmin'); %>
    <main role="main" class="container bg-white rounded shadow-sm mt-3 p-3 w-75">
      <h5 class="border-bottom border-gray pb-2 mb-0">
        <p>Fragenverwaltung</p>
      </h5>
      <div class="media text-muted pt-3">
      </div>
      <p>Hier können Sie die Fragen des ausgewählten Moduls <span class="badge bg-secondary"><%= moduleselect %></span> verwalten.</p>
      <p>Bitte wählen Sie die entsprechende Frage aus oder erstellen Sie eine Neue.</p>
      <div class="media text-muted pt-3">
      </div>
        <a href="/modmanagement" class="btn btn-secondary" role="button">Modulauswahl</a>
        <a href="/addQuestion" class="btn btn-dark" role="button">Neue Frage anlegen</a>
      <div class="media text-muted pt-3">
      </div>
        <!-- Tabelle aller vorhandenen Fragen -->
        <table id="ModulesTable" class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th>Fragentitel</th>
          </tr>
          </thead>
          <tbody>
            <% question.forEach( question => { %>
              <tr>
                <th scope="row"><%= question.question %></th>
              </tr>
              <% }); %> 
          </tbody>
          </table>
    </main>
    <% if (user.role !== 'admin') { %>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          var myModal = new bootstrap.Modal(document.getElementById('modalNoAdmin'));
          myModal.show();
        });
      </script>
    <% } %>
</body>
</html>